.book-img-container{
    display:flex;
    flex-direction:row;
    height:170px;
    width:110%;
    background-color:pink;
    overflow:hidden;
    border:0px;
    margin-bottom:20px;
    padding:0px;
    position: relative;
    left:-5px;
}


.book-img{
    height:170px;
    width:350px;
    object-fit: cover;
   position: relative;
   /* left:-5px */
}