.book-title{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100%;
    justify-content: flex-start;
    padding:0px 10px;
    box-sizing: border-box;
    font-size:17px;
    font-family: 'HelveticaNeue-CondensedBold';
    text-align: start;
    margin:3px;
    
}