.fav-btn{
    height:50px;
    width:50px;
    position: absolute;
    top:40%;
    left:75%;
    border-radius: 25px;
    box-shadow: -1px 1px 1px black;
    border:0px;
    background-image: url("../../fav.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.liked{
    background-color:red;
}

.notliked{
    background-color:grey;
}